{% extends "base.html" %}

{%  block content %}
{% load static %}
<div class = "product_main_1">
    <h2 class = "name_product">{{blockconteiner.name}}</h2>
    <div class = "foto_producta">
        {%for image in blockconteiner.imgconteiner_set.all%}
        <img src=  "{{image.image}}" class = " product_image_one">
        {%endfor%}
            <a class="prev_pr prev_pr_1_ob" onclick=" plusSlide_Pr_ob(-1)">&#10094</a>
            <a class="next_pr next_pr_1_ob" onclick=" plusSlide_Pr_ob(+1)">&#10095</a>
        <div>
        {%for image in blockconteiner.imgbitovka_set.all%}
            <span class = dot_pr_ob></span>
        {% endfor %}
        </div>
    </div>
    <div class = "info">
        <p>Производство: завод Универсал-Строй, Санкт-Петербург</p>
        <p> Цены указаны с доставкой под кран покупателя: г. Санкт-Петербург и включают НДС.</p>
        <p> Доставка с разгрузкой манипулятором/доставка в регионы смотрите раздел Доставка.</p>
        <p>Размер:</p>
        <div>
            {%for price in blockconteiner.priceconteiner_set.all%}
            <label >
            <input class="product_int" type="radio" name="size_ob_1" value="{{price.price_dvp}}" checked/>
            <span class="product_size">{{price.size}}</span>
            </label>
            {%endfor%}
        </div>
        <p> Материал</p>
        <div class="flex">
                <label >
                    <input  type="radio" name="mat_ob_1" value="0" checked/>
                    <span>
                        <img src= "{%static 'img/mt1.jpg' %}" class="mat_img mat_img_ob">
                        <p class = "mat">Двп</p>
                </span>
                </label>
                <label >
                    <input  type="radio" name="mat_ob_1" value="0.1" />
                    <span>
                        <img src= "{%static 'img/mt3.jpg' %}" class="mat_img mat_img_ob" >
                        <p class = "mat">Вагонка</p>
                    </span>
                </label>
        </div>
                <div class = "zakaz_price">
                <div class="price price_obiect" id = "price_ob_1"></div>
                <div class="product_btn"> Заказать</div>
            </div>
        </div>
    <div class = "dop_complect">Дополнительная комплектация</div>
    <div class = menu_complect>
        <div class = "dother_comlect">
            <input class = "dop_input_price" name = "dop_price_1" type="radio" value="15000" checked/>
            <p class = "dop_name dop_name_1"   name = "dop_name_1" value = "15000">Металлическая утепленная дверь с замком (Россия) : 15000р.</p>
            <input class = "dop_input" name = "dop_int_1" type="text" value="0">
        </div>
        <div class = "dother_comlect">
            <input class = "dop_input_price" name = "dop_price_2" type="radio" value="6500" checked/>
            <p class = "dop_name" name = "dop_name_2" value = 6500>Окно ПВХ поворотно-откидное 900х1000 мм : 6500р.</p>
            <input class = "dop_input" name = "dop_int_2" type="text" value="0">
        </div>
        <div class = "dother_comlect">
            <input class = "dop_input_price" name = "dop_price_3" type="radio" value="5500" checked/>
            <p class = "dop_name" name = "dop_name_3" value = 6500>Окно ПВХ глухое 900х1000 мм : 5500р.</p>
            <input class = "dop_input"  name = "dop_int_3" type="text" value="0">
        </div>
        <div class = "dother_comlect">
            <input class = "dop_input_price" name = "dop_price_4" type="radio" value="5000" checked/>
            <p class = "dop_name"  name = "dop_name_4" value = 6500>Пластиковые стеклопакеты(однокамерные), М/кв : 5000р.</p>
            <input class = "dop_input"  name = "dop_int_4" type="text" value="0">
        </div>
        <div class = "dother_comlect">
            <input class = "dop_input_price" name = "dop_price_5" type="radio" value="2500" checked/>
            <p class = "dop_name" name = "dop_name_5" value = 6500>Решетка на окно : 2500р.</p>
            <input class = "dop_input"  name = "dop_int_5" type="text" value="0">
        </div>
    </div>

</div>
<script src="{% static 'js/foto_obiecta.js' %}"></script>
{% endblock %}
