{% load static %}


<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{% static 'css/base_style.css' %}">
  <link rel="stylesheet" href="{% static 'css/base_style.css' %}">
  <link rel="stylesheet" href="{% static 'css/text.css' %}">
  <link rel="stylesheet" href="{% static 'css/product.css' %}">
  <link rel="stylesheet" href="{% static 'css/1_obiect.css' %}">
</head>

<body>
  <header class = "header_conteiner">

      <a href=  /universal-stroyspb/ class="header-logo">
          <img src= "{%static 'img/logo.jpg' %}" class="header-logo">
      </a>
      <div class = "header_conteiner_1">
        <a href="tel:+78129151008" class="header-tel">
          +7(812)915-10-08
        </a>
        <a href="tel:+78129733904" class="header-tel">
          +7(812)973-39-04
        </a>
        <p class="feedcall">
          или
          <a href="#" class="call">оставте номер</a>
          <br>
          и мы вам перезвоним
        </p>
      </div>
      <div class="header_conteiner_2">
        <ul class="main_menu flex">
          <li class = "parant_product_active_1">
            <button class = "parant_product_btn">
              Продукция
            </button>
              <ul class = "dother_menu">
                <li class="dother_product_1">
                    <a href = /universal-stroyspb/bitovki/ class = "dother_product"> Бытовки</a>
                </li>
                <li class="dother_product_1">
                    <a href = /universal-stroyspb/conteineri/ class = "dother_product"> Блок-контейнеры</a>
                </li>
                <li class="dother_product_1">
                    <a href = /universal-stroyspb/modulstr/ class = "dother_product"> Модульные здания</a>
                </li>
                <li class="dother_product_1 ">
                    <a href = /universal-stroyspb/postsec/ class = "dother_product "> Посты охраны</a>
                </li>
                <li class="dother_product_1 last">
                  <a href = /universal-stroyspb/bani/ class = "dother_product last"> Бани </a>
              </li>
              </ul>
            </li>
            <li class = "parant_product_active_1">
            <button class = "parant_product_btn">
              Аренда и Спецпредложения
            </button>
            <ul class = "dother_menu">
              <li class="dother_product_1">
                    <a href = /universal-stroyspb/arenda/ class = "dother_product"> Аренда</a>
                </li>
                <li class="dother_product_1 last">
                    <a href = /universal-stroyspb/sale/ class = "dother_product last"> Спецпредложения</a>
                </li>
              </ul>
            </li>
            <li class = "parant_product_active_1">
            <button class = "parant_product_btn">
              О компании
            </button>
            <ul class = "dother_menu">
              <li class="dother_product_1">
                    <a href = /universal-stroyspb/compania/ class = "dother_product"> О компании</a>
                </li>
                <li class="dother_product_1">
                    <a href = /universal-stroyspb/work/ class = "dother_product"> Наши работы</a>
                </li>
                  <li class="dother_product_1 last">
                    <a href = /universal-stroyspb/garantii/ class = "dother_product last"> Гарантии</a>
                </li>
              </ul>
            </li>
            <li class = "parant_product_active_2">
              <a href = /universal-stroyspb/contaсts/  class = "parant_product_active" href="#">Контакты</a>
            </li>
            <li class = "parant_product_active_1">
              <button class = "parant_product_btn">
                Дополнительно
              </button>
              <ul class = "dother_menu">
                <li class="dother_product_1">
                      <a href = /universal-stroyspb/dostavka/ class = "dother_product"> Доставка</a>
                  </li>
                  <li class="dother_product_1">
                      <a href = /universal-stroyspb/news/ class = "dother_product">Статьи</a>
                  </li>
                    <!-- <li class="dother_product_1 last">
                      <a href = # class = "dother_product last"> Цвета Ral</a>
                  </li> -->
                </ul>
              </li>
        </ul>
      </div>
  </header>

  <div class = conteiner>
    {%  block content %}
    {% endblock %}
  </div>


  <footer class = "footer ">
    <div class="footer_left">
      <p>Контакты</p>
      <ul class="footer_contacts">
        <li class = "footer_contacts_item">
          <p>Телефоны:</p>
          <a href="tel:+78129151008" class="footrer-tel flex">
              +7(812)915-10-08
          </a>
          <a href="tel:+78129733904" class="footer-tel flex">
              +7(812)973-39-04
          </a>
        </li>
        <li  class = "footer_contacts_item">
          <p>Почта:</p>
          <a href=# class="footer-mail flex">
              saddda@mail.ru
          </a>
          <a href=# class="footer-mail flex">
              dasd@mail.ru
          </a>
        </li>
      </ul>
      <div class = "footer_adress flex">
        Санкт-Петербург,
        Карпатская ул. д.14, кор.3., м.Купчино
      </div>
    </div>
    <div class="footer_right">
      <img src=" {% static 'img/logo_footer.jpg' %}" class = "footer_logo">
    </div>
  </footer>
  <script src="{% static 'js/java_script.js' %}"></script>
  <script src="{% static 'js/bitovki.js' %}"></script>

</body>
</html>
