{% extends "base.html" %}

{%  block content %}
{% load static %}

<section class = "left_path">
    <ul class = "bitovka_list">
      <li  class = "product_main" id = "101">
        {% for osnova_i_s_4 in torcevaya_4%}
        {% for size_5 in torcevaya_5 %}
        {% for size_6 in torcevaya_6 %}
          <a href = /universal-stroyspb/bitovki/1 > <p class="product_name">{{osnova_i_s_4.name.name}}</p></a>
          <div class="container_img flex">
          {% for image in torcevaya_img %}
           <img src=  "{{image.image}}" class = "product_image product_img_1">
          {% endfor %}
          </div>
          <a class="prev_pr_1" onclick="plusSlide_Pr_1(-1)">&#10094</a>
          <a class="next_pr_1" onclick="plusSlide_Pr_1(+1)">&#10095</a>
          <div>
          {% for image in torcevaya_img %}
            <span class = dot_pr_1></span>
          {% endfor %}
          </div>
          <div class="calc-section">
            <p>Размеры:</p>
						<div>
							<label >
								<input class="product_int" type="radio" name="size_bitovka_1" value="{{osnova_i_s_4.price_dvp}}" checked/>
								<span class="product_size">{{osnova_i_s_4.size}}</span>
							</label>

							<label >
								<input class="product_int" type="radio" name="size_bitovka_1" value="{{size_5.price_dvp}}" />
								<span class="product_size">{{size_5.size}}</span>
              </label>
							<label>
								<input class="product_int" type="radio" name="size_bitovka_1" value="{{size_6.price_dvp}}" />
								<span class="product_size">{{size_6.size}}</span>
							</label>
						</div>
            <p>
              Материал:
            </p>
            <div class="flex">
                <label >
                  <input  type="radio" name="mat_bitovka_1" value="0" checked/>
                  <span>
                    <img src= "{%static 'img/mt1.jpg' %}" class="mat_img mat_img_3">
                    <p class = "mat">Двп</p>
                  </span>
              </label>
              <label >
                  <input  type="radio" name="mat_bitovka_1" value="0.1" />
                  <span>
                    <img src= "{%static 'img/mt3.jpg' %}" class="mat_img mat_img_3" >
                    <p class = "mat">Вагонка</p>
                  </span>
              </label>
            </div>
					</div>
          <div class="product_btn"> Заказать</div>
          <div class="price" id = "price1"></div>
        {% endfor %}
        {% endfor %}
        {% endfor %}
      </li>

      <li  class = "product_main" id = "102">
        {% for osnova_i_s_4 in fasadnaya_5%}
        {% for size_5 in fasadnaya_6 %}
        {% for size_6 in fasadnaya_7 %}
          <a  href = /universal-stroyspb/bitovki/2> <p class="product_name">{{osnova_i_s_4.name.name}}</p></a>
          <div class="container_img flex">
            {% for image in fasadnaya_img %}
             <img src=  "{{image.image}}" class = "product_image product_img_2">
            {% endfor %}
            </div>
            <a class="prev_pr_1" onclick="plusSlide_Pr_2(-1)">&#10094</a>
            <a class="next_pr_1" onclick="plusSlide_Pr_2(+1)">&#10095</a>
            <div>
            {% for image in fasadnaya_img %}
              <span class = dot_pr_2></span>
            {% endfor %}

          <div class="calc-section">
            <p>Размеры:</p>
						<div>
							<label >
								<input class="product_int" type="radio" name="size_bitovka_2" value="{{osnova_i_s_4.price_dvp}}" checked/>
								<span class="product_size">{{osnova_i_s_4.size}}</span>
							</label>

							<label >
								<input class="product_int" type="radio" name="size_bitovka_2" value="{{size_5.price_dvp}}" />
								<span class="product_size">{{size_5.size}}</span>
              </label>
							<label>
								<input class="product_int" type="radio" name="size_bitovka_2" value="{{size_6.price_dvp}}" />
								<span class="product_size">{{size_6.size}}</span>
							</label>
						</div>
            <p>
              Материал:
            </p>
            <div class="flex">
                <label >
                  <input  type="radio" name="mat_bitovka_2" value="0" checked/>
                  <span>
                    <img src= "{%static 'img/mt1.jpg' %}" class="mat_img mat_img_3">
                    <p class = "mat">Двп</p>
                  </span>
              </label>
              <label >
                  <input  type="radio" name="mat_bitovka_2" value="0.1" />
                  <span>
                    <img src= "{%static 'img/mt3.jpg' %}" class="mat_img mat_img_3" >
                    <p class = "mat">Вагонка</p>
                  </span>
              </label>
            </div>
					</div>
          <div class="product_btn"> Заказать</div>
          <div class="price" id = "price2"></div>
        {% endfor %}
        {% endfor %}
        {% endfor %}
      </li>

      <li  class = "product_main" id = "103">
        {% for osnova_i_s_4 in torcevaya_tamb_5 %}
        {% for size_5 in torcevaya_tamb_6 %}
        {% for size_6 in torcevaya_tamb_7 %}
          <a href = /universal-stroyspb/bitovki/3> <p class="product_name">{{osnova_i_s_4.name.name}}</p></a>
          <div class="container_img flex">
            {% for image in torcevaya_tamb_img %}
             <img src=  "{{image.image}}" class = "product_image product_img_3">
            {% endfor %}
            </div>
            <a class="prev_pr_1" onclick="plusSlide_Pr_3(-1)">&#10094</a>
            <a class="next_pr_1" onclick="plusSlide_Pr_3(+1)">&#10095</a>
            <div>
            {% for image in torcevaya_tamb_img %}
              <span class = dot_pr_3></span>
            {% endfor %}
          <div class="calc-section">
            <p>Размеры:</p>
						<div>
							<label >
								<input  class="product_int" type="radio" name="size_bitovka_3" value="{{osnova_i_s_4.price_dvp}}" checked/>
								<span class="product_size">{{osnova_i_s_4.size}}</span>
							</label>

							<label >
								<input  class="product_int" type="radio" name="size_bitovka_3" value="{{size_5.price_dvp}}" />
								<span class="product_size">{{size_5.size}}</span>
              </label>
							<label>
								<input  class="product_int" type="radio" name="size_bitovka_3" value="{{size_6.price_dvp}}" />
								<span class="product_size">{{size_6.size}}</span>
							</label>
						</div>
            <p>
              Материал:
            </p>
            <div class="flex">
                <label >
                  <input class = "mat_int"  type="radio" name="mat_bitovka_3" value="0" checked/>
                  <span сlass = "mat_img_3">
                    <img src= "{%static 'img/mt1.jpg' %}" class="mat_img">
                  </span>
                  <p class = "mat">Двп</p>
              </label>
              <label >
                  <input   class = "mat_int" type="radio" name="mat_bitovka_3" value="0.1" />
                  <span сlass = "mat_img_3">
                    <img src= "{%static 'img/mt3.jpg' %}" class="mat_img" >
                  </span>
                  <p class = "mat">Вагонка</p>
              </label>
            </div>
					</div>
          <div class="product_btn"> Заказать</div>
          <div class="price" id = "price3"></div>
        {% endfor %}
        {% endfor %}
        {% endfor %}
      </li>

      <li  class = "product_main" id = "104">
        {% for osnova_i_s_4 in raspashonka_5%}
        {% for size_5 in raspashonka_6 %}
        {% for size_6 in raspashonka_7 %}
          <a href = /universal-stroyspb/bitovki/4 > <p class="product_name">{{osnova_i_s_4.name.name}}</p></a>
          <div class="container_img flex">
            {% for image in raspashonka_img %}
             <img src=  "{{image.image}}" class = "product_image product_img_4">
            {% endfor %}
            </div>
            <a class="prev_pr_1" onclick="plusSlide_Pr_4(-1)">&#10094</a>
            <a class="next_pr_1" onclick="plusSlide_Pr_4(+1)">&#10095</a>
            <div>
            {% for image in raspashonka_img %}
              <span class = dot_pr_4></span>
            {% endfor %}


          <div class="calc-section">
            <p>Размеры:</p>
						<div>
							<label >
								<input class="product_int" type="radio" name="size_bitovka_4" value="{{osnova_i_s_4.price_dvp}}" checked/>
								<span class="product_size">{{osnova_i_s_4.size}}</span>
							</label>

							<label>
								<input class="product_int int" type="radio" name="size_bitovka_4" value="{{size_5.price_dvp}}" />
								<span class="product_size">{{size_5.size}}</span>

							<label>
								<input class="product_int" type="radio" name="size_bitovka_4" value="{{size_6.price_dvp}}" />
								<span class="product_size">{{size_6.size}}</span>
							</label>
						</div>
            <p>
              Материал:
            </p>
            <div class="flex">
              <label >
                  <input  type="radio" name="mat_bitovka_4" value="0" checked/>
                  <span>
                    <img src= "{%static 'img/mt1.jpg' %}" class="mat_img ">
                    <p class = "mat">Двп</p>
                  </span>
              </label>
              <label >
                  <input  type="radio" name="mat_bitovka_4" value="0.1" />
                  <span>
                    <img src= "{%static 'img/mt3.jpg' %}" class="mat_img " >
                    <p class = "mat" >Вагонка</p>
                  </span>
              </label>
            </div>
					</div>
          <div class="product_btn"> Заказать</div>
          <div class="price" id = "price4"></div>
        {% endfor %}
        {% endfor %}
        {% endfor %}


      </li>
    </ul>
    <div class = "zakaz">
      <p>Не нашли то что хотели свяжитесь с нашей Поддержкой и опишите ваш заказ </p>


      <button class = "zakaz_btn btn"> Поддержка </button>
    </div>







</section>

<section class = "right_path flex">
    <div>
      <div class=" sale_1 flex">
        {% for product_img in by_img %}
          <div class ="sale fade" >
            <img src="{{product_img.image}}" class="sale_img fade" >
            <p class = name_sale>{{product_img.name.name}}</p>
            <p class = old_sale>{{product_img.name.old_price}}</p>
            <p class = price_sale>{{product_img.name.new_price}}</p>
          </div>
        {% endfor %}
      </div>
      <a class="prev" onclick="plusSlide(-1)">&#10094</a>
      <a class="next" onclick="plusSlide(+1)">&#10095</a>
      <div>
        {% for product_img in by_img %}
        <span class = dot></span>
        {% endfor %}
      </div>
    </div>
    <div class = "reviews">
    </div>
  </section>
  <script src="{% static 'js/price_bitovka.js' %}"></script>
  
{% endblock %}
