{% extends "base.html" %}

{%  block content %}
{% load static %}

<section class = "left_path">
    <ul class = "bitovka_list">
      <li  class = "product_main" id = "101">
        {% for osnova_i_s_6 in BlokCont_1_6%}
        {% for size_7 in BlokCont_1_7 %}
        {% for size_8 in BlokCont_1_8 %}
        {% for size_9 in BlokCont_1_9 %}
          <a href = /universal-stroyspb/conteineri/1 > <p class="product_name"> {{osnova_i_s_6.name.name}}</p></a>
          <div class="container_img flex">
          {% for image in BlokCont_1_img %}
           <img src=  "{{image.image}}" class = "product_image product_img_1">
          {% endfor %}
          </div>
          <a class="prev_pr_1" onclick="plusSlide_Pr_1(-1)">&#10094</a>
          <a class="next_pr_1" onclick="plusSlide_Pr_1(+1)">&#10095</a>
          <div>
          {% for image in BlokCont_1_img%}
            <span class = dot_pr_1></span>
          {% endfor %}
          </div>
          <div class="calc-section">
            <p>Размеры:</p>
						<div>
							<label >
								<input class="product_int" type="radio" name="size_1" value="{{osnova_i_s_6.price_dvp}}" checked/>
								<span class="product_size">{{osnova_i_s_6.size}}</span>
							</label>

							<label >
								<input class="product_int" type="radio" name="size_1" value="{{size_7.price_dvp}}" />
								<span class="product_size">{{size_7.size}}</span>
              </label>
							<label>
								<input class="product_int" type="radio" name="size_1" value="{{size_8.price_dvp}}" />
								<span class="product_size">{{size_8.size}}</span>
							</label>
                            <label>
								<input class="product_int" type="radio" name="size_1" value="{{size_9.price_dvp}}" />
								<span class="product_size">{{size_9.size}}</span>
							</label>
						</div>
            <p>
              Материал:
            </p>
            <div class="flex">
                <label >
                  <input  type="radio" name="mat_1" value="0" checked/>
                  <span>
                    <img src= "{%static 'img/mt1.jpg' %}" class="mat_img mat_img_3">
                    <p class = "mat">Двп</p>
                  </span>
              </label>
              <label >
                  <input  type="radio" name="mat_1" value="0.1" />
                  <span>
                    <img src= "{%static 'img/mt3.jpg' %}" class="mat_img mat_img_3" >
                    <p class = "mat">Вагонка</p>
                  </span>
              </label>
            </div>
					</div>
          <div class="product_btn"> Заказать</div>
          <div class="price" id = "price_1"></div>
        {% endfor %}
        {% endfor %}
        {% endfor %}
        {% endfor %}

      </li>

      <li  class = "product_main" id = "102">
        {% for osnova_i_s_6 in BlokCont_2_6%}
        {% for size_7 in BlokCont_2_7 %}
        {% for size_8 in BlokCont_2_8 %}
        {% for size_9 in BlokCont_2_9 %}
        <a href = /universal-stroyspb/conteineri/2 > <p class="product_name"> {{osnova_i_s_6.name.name}}</p></a>
          <div class="container_img flex">
            {% for image in BlokCont_2_img %}
             <img src=  "{{image.image}}" class = "product_image product_img_2">
            {% endfor %}
            </div>
            <a class="prev_pr_1" onclick="plusSlide_Pr_2(-1)">&#10094</a>
            <a class="next_pr_1" onclick="plusSlide_Pr_2(+1)">&#10095</a>
            <div>
            {% for image in BlokCont_2_img %}
              <span class = dot_pr_2></span>
            {% endfor %}

          <div class="calc-section">
            <p>Размеры:</p>
						<div>
							<label >
								<input class="product_int" type="radio" name="size_2" value="{{osnova_i_s_6.price_dvp}}" checked/>
								<span class="product_size">{{osnova_i_s_6.size}}</span>
							</label>

							<label >
								<input class="product_int" type="radio" name="size_2" value="{{size_7.price_dvp}}" />
								<span class="product_size">{{size_7.size}}</span>
              </label>
							<label>
								<input class="product_int" type="radio" name="size_2" value="{{size_8.price_dvp}}" />
								<span class="product_size">{{size_8.size}}</span>
							</label>

                            <label>
								<input class="product_int" type="radio" name="size_2" value="{{size_9.price_dvp}}" />
								<span class="product_size">{{size_9.size}}</span>
							</label>
						</div>
            <p>
              Материал:
            </p>
            <div class="flex">
                <label >
                  <input  type="radio" name="mat_2" value="0" checked/>
                  <span>
                    <img src= "{%static 'img/mt1.jpg' %}" class="mat_img mat_img_3">
                    <p class = "mat">Двп</p>
                  </span>
              </label>
              <label >
                  <input  type="radio" name="mat_2" value="0.1" />
                  <span>
                    <img src= "{%static 'img/mt3.jpg' %}" class="mat_img mat_img_3" >
                    <p class = "mat">Вагонка</p>
                  </span>
              </label>
            </div>
					</div>
          <div class="product_btn"> Заказать</div>
          <div class="price" id = "price_2"></div>
        {% endfor %}
        {% endfor %}
        {% endfor %}
        {% endfor %}
      </li>

      <li  class = "product_main" id = "103">
        {% for osnova_i_s_6 in BlokCont_3_6%}
        {% for size_7 in BlokCont_3_7 %}
        {% for size_8 in BlokCont_3_8 %}
        {% for size_9 in BlokCont_3_9 %}
        <a href = /universal-stroyspb/conteineri/3 > <p class="product_name"> {{osnova_i_s_6.name.name}}</p></a>
          <div class="container_img flex">
            {% for image in BlokCont_3_img %}
             <img src=  "{{image.image}}" class = "product_image product_img_3">
            {% endfor %}
            </div>
            <a class="prev_pr_1" onclick="plusSlide_Pr_3(-1)">&#10094</a>
            <a class="next_pr_1" onclick="plusSlide_Pr_3(+1)">&#10095</a>
            <div>
            {% for image in BlokCont_3_img %}
              <span class = dot_pr_3></span>
            {% endfor %}
          <div class="calc-section">
            <p>Размеры:</p>
						<div>
							<label >
								<input  class="product_int" type="radio" name="size_3" value="{{osnova_i_s_6.price_dvp}}" checked/>
								<span class="product_size">{{osnova_i_s_6.size}}</span>
							</label>

							<label >
								<input  class="product_int" type="radio" name="size_3" value="{{size_7.price_dvp}}" />
								<span class="product_size">{{size_7.size}}</span>
              </label>
							<label>
								<input  class="product_int" type="radio" name="size_3" value="{{size_8.price_dvp}}" />
								<span class="product_size">{{size_8.size}}</span>
							</label>

                            <label>
								<input  class="product_int" type="radio" name="size_3" value="{{size_9.price_dvp}}" />
								<span class="product_size">{{size_9.size}}</span>
							</label>
						</div>
            <p>
              Материал:
            </p>
            <div class="flex">
                <label >
                  <input class = "mat_int"  type="radio" name="mat_3" value="0" checked/>
                  <span сlass = "mat_img_3">
                    <img src= "{%static 'img/mt1.jpg' %}" class="mat_img">
                  </span>
                  <p class = "mat">Двп</p>
              </label>
              <label >
                  <input   class = "mat_int" type="radio" name="mat_3" value="0.1" />
                  <span сlass = "mat_img_3">
                    <img src= "{%static 'img/mt3.jpg' %}" class="mat_img" >
                  </span>
                  <p class = "mat">Вагонка</p>
              </label>
            </div>
					</div>
          <div class="product_btn"> Заказать</div>
          <div class="price" id = "price_3"></div>
        {% endfor %}
        {% endfor %}
        {% endfor %}
        {% endfor %}
      </li>

      <li  class = "product_main" id = "104">
        {% for osnova_i_s_6  in BlokCont_4_6%}
        {% for size_7 in BlokCont_4_7 %}
        {% for size_8 in BlokCont_4_8 %}
        {% for size_9 in BlokCont_4_9 %}
        <a href = /universal-stroyspb/conteineri/4 > <p class="product_name"> {{osnova_i_s_6.name.name}}</p></a>
          <div class="container_img flex">
            {% for image in BlokCont_4_img %}
             <img src=  "{{image.image}}" class = "product_image product_img_4">
            {% endfor %}
            </div>
            <a class="prev_pr_1" onclick="plusSlide_Pr_4(-1)">&#10094</a>
            <a class="next_pr_1" onclick="plusSlide_Pr_4(+1)">&#10095</a>
            <div>
            {% for image in BlokCont_4_img %}
              <span class = dot_pr_4></span>
            {% endfor %}


          <div class="calc-section">
            <p>Размеры:</p>
						<div>
							<label >
								<input class="product_int" type="radio" name="size_4" value="{{osnova_i_s_6.price_dvp}}" checked/>
								<span class="product_size">{{osnova_i_s_6.size}}</span>
							</label>

							<label >
								<input class="product_int" type="radio" name="size_4" value="{{size_7.price_dvp}}" />
								<span class="product_size">{{size_7.size}}</span>

							<label>
								<input class="product_int" type="radio" name="size_4" value="{{size_8.price_dvp}}" />
								<span class="product_size">{{size_8.size}}</span>
							</label>

                            <label>
								<input class="product_int" type="radio" name="size_4" value="{{size_9.price_dvp}}" />
								<span class="product_size">{{size_9.size}}</span>
							</label>
						</div>
            <p>
              Материал:
            </p>
            <div class="flex">
              <label >
                  <input  type="radio" name="mat_4" value="0" checked/>
                  <span>
                    <img src= "{%static 'img/mt1.jpg' %}" class="mat_img ">
                    <p class = "mat">Двп</p>
                  </span>
              </label>
              <label >
                  <input  type="radio" name="mat_4" value="0.1" />
                  <span>
                    <img src= "{%static 'img/mt3.jpg' %}" class="mat_img " >
                    <p class = "mat" >Вагонка</p>
                  </span>
              </label>
            </div>
					</div>
          <div class="product_btn"> Заказать</div>
          <div class="price" id = "price_4"></div>
        {% endfor %}
        {% endfor %}
        {% endfor %}
        {% endfor %}

        <li  class = "product_main" id = "104">
            {% for osnova_i_s_6 in BlokCont_5_6%}
            {% for size_7 in BlokCont_5_7 %}
            {% for size_8 in BlokCont_5_8 %}
            <a href = /universal-stroyspb/conteineri/5 > <p class="product_name"> {{osnova_i_s_6.name.name}}</p></a>
              <div class="container_img flex">
                {% for image in BlokCont_5_img %}
                 <img src=  "{{image.image}}" class = "product_image product_img_5">
                {% endfor %}
                </div>
                <a class="prev_pr_1" onclick="plusSlide_Pr_5(-1)">&#10094</a>
                <a class="next_pr_1" onclick="plusSlide_Pr_5(+1)">&#10095</a>
                <div>
                {% for image in BlokCont_5_img %}
                  <span class = dot_pr_5></span>
                {% endfor %}


              <div class="calc-section">
                <p>Размеры:</p>
                            <div>
                                <label >
                                    <input class="product_int" type="radio" name="size_5" value="{{osnova_i_s_6.price_dvp}}" checked/>
                                    <span class="product_size">{{osnova_i_s_6.size}}</span>
                                </label>

                                <label >
                                    <input class="product_int" type="radio" name="size_5" value="{{size_7.price_dvp}}" />
                                    <span class="product_size">{{size_7.size}}</span>

                                <label>
                                    <input class="product_int" type="radio" name="size_5" value="{{size_8.price_dvp}}" />
                                    <span class="product_size">{{size_8.size}}</span>
                                </label>


                            </div>
                <p>
                  Материал:
                </p>
                <div class="flex">
                  <label >
                      <input  type="radio" name="mat_5" value="0" checked/>
                      <span>
                        <img src= "{%static 'img/mt1.jpg' %}" class="mat_img ">
                        <p class = "mat">Двп</p>
                      </span>
                  </label>
                  <label >
                      <input  type="radio" name="mat_5" value="0.1" />
                      <span>
                        <img src= "{%static 'img/mt3.jpg' %}" class="mat_img " >
                        <p class = "mat" >Вагонка</p>
                      </span>
                  </label>
                </div>
                        </div>
              <div class="product_btn"> Заказать</div>
              <div class="price" id = "price_5"></div>
            {% endfor %}
            {% endfor %}
            {% endfor %}

            <li  class = "product_main" id = "104">
                {% for osnova_i_s_6 in BlokCont_6_6%}
                {% for size_7 in BlokCont_6_7 %}
                {% for size_8 in BlokCont_6_8 %}
                <a href = /universal-stroyspb/conteineri/6 > <p class="product_name"> {{osnova_i_s_6.name.name}}</p></a>
                  <div class="container_img flex">
                    {% for image in BlokCont_5_img %}
                     <img src=  "{{image.image}}" class = "product_image product_img_6">
                    {% endfor %}
                    </div>
                    <a class="prev_pr_1" onclick="plusSlide_Pr_6(-1)">&#10094</a>
                    <a class="next_pr_1" onclick="plusSlide_Pr_6(+1)">&#10095</a>
                    <div>
                    {% for image in BlokCont_5_img %}
                      <span class = dot_pr_6></span>
                    {% endfor %}


                  <div class="calc-section">
                    <p>Размеры:</p>
                                <div>
                                    <label >
                                        <input class="product_int" type="radio" name="size_6" value="{{osnova_i_s_6.price_dvp}}" checked/>
                                        <span class="product_size">{{osnova_i_s_6.size}}</span>
                                    </label>

                                    <label >
                                        <input class="product_int" type="radio" name="size_6" value="{{size_7.price_dvp}}" />
                                        <span class="product_size">{{size_7.size}}</span>

                                    <label>
                                        <input class="product_int" type="radio" name="size_6" value="{{size_8.price_dvp}}" />
                                        <span class="product_size">{{size_8.size}}</span>
                                    </label>


                                </div>
                    <p>
                      Материал:
                    </p>
                    <div class="flex">
                      <label >
                          <input  type="radio" name="mat_6" value="0" checked/>
                          <span>
                            <img src= "{%static 'img/mt1.jpg' %}" class="mat_img ">
                            <p class = "mat">Двп</p>
                          </span>
                      </label>
                      <label >
                          <input  type="radio" name="mat_6" value="0.1" />
                          <span>
                            <img src= "{%static 'img/mt3.jpg' %}" class="mat_img " >
                            <p class = "mat" >Вагонка</p>
                          </span>
                      </label>
                    </div>
                            </div>
                  <div class="product_btn"> Заказать</div>
                  <div class="price" id = "price_6"></div>
                {% endfor %}
                {% endfor %}
                {% endfor %}

                <li  class = "product_main" id = "104">
                    {% for osnova_i_s_6 in BlokCont_7_6%}
                    {% for size_7 in BlokCont_7_7 %}
                    {% for size_8 in BlokCont_7_8 %}
                    <a href = /universal-stroyspb/conteineri/7 > <p class="product_name"> {{osnova_i_s_6.name.name}}</p></a>
                      <div class="container_img flex">
                        {% for image in BlokCont_5_img %}
                         <img src=  "{{image.image}}" class = "product_image product_img_7">
                        {% endfor %}
                        </div>
                        <a class="prev_pr_1" onclick="plusSlide_Pr_7(-1)">&#10094</a>
                        <a class="next_pr_1" onclick="plusSlide_Pr_7(+1)">&#10095</a>
                        <div>
                        {% for image in BlokCont_5_img %}
                          <span class = dot_pr_7></span>
                        {% endfor %}


                      <div class="calc-section">
                        <p>Размеры:</p>
                                    <div>
                                        <label >
                                            <input class="product_int" type="radio" name="size_7" value="{{osnova_i_s_6.price_dvp}}" checked/>
                                            <span class="product_size">{{osnova_i_s_6.size}}</span>
                                        </label>

                                        <label >
                                            <input class="product_int" type="radio" name="size_7" value="{{size_7.price_dvp}}" />
                                            <span class="product_size">{{size_7.size}}</span>

                                        <label>
                                            <input class="product_int" type="radio" name="size_7" value="{{size_8.price_dvp}}" />
                                            <span class="product_size">{{size_8.size}}</span>
                                        </label>


                                    </div>
                        <p>
                          Материал:
                        </p>
                        <div class="flex">
                          <label >
                              <input  type="radio" name="mat_7" value="0" checked/>
                              <span>
                                <img src= "{%static 'img/mt1.jpg' %}" class="mat_img ">
                                <p class = "mat">Двп</p>
                              </span>
                          </label>
                          <label >
                              <input  type="radio" name="mat_7" value="0.1" />
                              <span>
                                <img src= "{%static 'img/mt3.jpg' %}" class="mat_img " >
                                <p class = "mat" >Вагонка</p>
                              </span>
                          </label>
                        </div>
                                </div>
                      <div class="product_btn"> Заказать</div>
                      <div class="price" id = "price_7"></div>
                    {% endfor %}
                    {% endfor %}
                    {% endfor %}



      </li>
    </ul>
    <div class = "zakaz">
      <p>Не нашли то что хотели свяжитесь с нашей Поддержкой и опишите ваш заказ </p>

      <button class = "zakaz_btn btn"> Поддержка </button>
    </div>







</section>

<section class = "right_path flex">
    <div>
      <div class=" sale_1 flex">
        {% for product_img in by_img %}
          <div class ="sale fade" >
            <img src="{{product_img.image}}" class="sale_img fade" >
            <p class = name_sale>{{product_img.name.name}}</p>
            <p class = old_sale>{{product_img.name.old_price}}</p>
            <p class = price_sale>{{product_img.name.new_price}}</p>
          </div>
        {% endfor %}
      </div>
      <a class="prev" onclick="plusSlide(-1)">&#10094</a>
      <a class="next" onclick="plusSlide(+1)">&#10095</a>
      <div>
        {% for product_img in by_img %}
        <span class = dot></span>
        {% endfor %}
      </div>
    </div>
    <div class = "reviews">
    </div>
  </section>
  <script src="{% static 'js/price.js' %}"></script>
  <script src="{% static 'js/bitovki.js' %}"></script>
{% endblock %}
