{% extends "base.html" %}
{%  block content %}
{% load static %}

<section class = "left_path">
    <div class = "block">
        <h1>КОНТАКТЫ УНИВЕРСАЛ СТРОЙ</h1>
        <h2>Выставочная площадка:</h2>
        <p>
            Вы можете посмотреть бытовки, блок-контейнеры, бани, посты охраны нашего производства на выставочной площадке в СПб в Купчино.
Адрес: г. Санкт-Петербург, ул. Карпатская д. 14, корп. 3, район Купчино.</p>
<p><b>Телефон:</b>(812) 773-82-85, 915-10-08, 973-39-04</p>
<p><b>e-mail: </b>s9151008@yandex.ru</p>
<p><b>WhatsApp:</b>  +79219151008</p>

<h3>График работы в рабочие дни</h3>

<p>Выставочная площадка открыта для просмотра деревянных бытовок , блок-контейнеров, бань, дома с понедельника по пятницу: 09.00 - 17.00.
        </p>
        <h2>Отдел продаж:</h2>
        <p>
            Понедельник - Пятница 9.00 - 17.00
Суббота и Воскресенье - выходные.

График работы в выходные и праздничные дни

В субботу офис работает по предварительной договорённости.
        </p>
        <h2>
            Кaк добраться общественным транспортом:
        </h2>
        <p>
            От метро «Купчино» автобус № 96, либо маршрутное такси № 383 или №96. Доехать до перекрестка Олеко Дундича и Малая Карпатская. Пройти 100 метров через пустырь до ул. Карпатская. Пройти прямо 100 метров по грунтовой дороге и перед вторым железнодорожным переездом повернуть направо, дойти до середины здания до желтой вывески ООО «Универсал-Строй», офис расположен на 3 этаже.

Если Вы поедете на маршрутном такси №383, то конечная остановка будет перекресток Олеко Дундича и Малая Карпатская.
        </p>
        <h2>Как добраться на машине:</h2>
        <p>
            Два варианта заезда.

1. Заезд с Софийской ул. "между домами 93 и 95". Повернуть направо на Полевую ул., проехать первый ж/д переезд и за ним повернуть налево, доехать до середины здания. Вывеска ООО «Универсал-Строй». Офис расположен на 3 этаже.

2. Заезд на Карпатскую улицу осуществляется с Дунайского проспекта, напротив «Максидома», с Складского проезда и с Грузового проезда. Повернув на Карпатскую улицу, ехать прямо один километр, с левой стороны будет ангар «шина ру» с правой - открытая автостоянка. Нужно повернуть налево перед «шина ру», и за вторым ж/д переездом - направо, доехать до середины здания. Вывеска ООО «Универсал-Строй». Офис расположен на 3 этаже.
        </p>
    </div>
</section>
<section class = "right_path flex">
     <!-- <div> -->
      <!-- <p> Отзывы</p> -->
      <!-- <div class=" sale_1 flex">
        {% for product_img in by_img %}
          <div class ="sale fade" >
            <img src="{{product_img.image}}" class="sale_img" >
            <p class = name_sale>{{product_img.name.name}}</p>
            <p class = old_sale>{{product_img.name.old_price}}</p>
            <p class = price_sale>{{product_img.name.new_price}}</p>
          </div>
        {% endfor %}
      </div>
      <a class="prev" onclick="plusSlide(-1)">&#10094</a>
      <a class="next" onclick="plusSlide(+1)">&#10095</a>
      <div>
        {% for product_img in by_img %}
        <span class = dot></span>
        {% endfor %}
      </div>
    </div>
    <div class = "reviews"> -->
    <!-- </div>  -->
  </section>
  {% endblock %}