{% extends "base.html" %}

{%  block content %}
{% load static %}
<section class = "left_path">
  <div class = "block">
    <h1 class="H">Бытовки «Универсал-Строй СПб»</h1>
    <p>
      Добро пожаловать на&nbsp;официальный сайт и&nbsp;интернет-магазин завода &laquo;Универсал-Строй&raquo;!
  Наш завод с&nbsp;1998 года производит и&nbsp;продаёт в&nbsp;Санкт-Петербурге по&nbsp;доступной цене качественные деревянные бытовки и&nbsp;металлические бытовки (блок-контейнеры).
      На&nbsp;сновании аналитики по&nbsp;данным Государственной службы статистики,
  ООО &laquo;Универсал-Строй&raquo; среди компаний своего вида деятельности включена в&nbsp;рейтинг надежных предприятий.
      Бытовка&nbsp;&mdash; это наиболее комфортный вариант временного жилья на&nbsp;стройплощадке, на&nbsp;дачном участке в&nbsp;период строительства дома и&nbsp;т.п. Также бытовки применяются под хозяйственные нужды (в&nbsp;них обустраивают душевые, хозблоки, прорабские и&nbsp;т.п.) Различаются по&nbsp;материалу изготовления, по&nbsp;размерам, по&nbsp;планировкам и&nbsp;по&nbsp;назначению. Завод &laquo;Универсал-Строй СПб&raquo; производит и&nbsp;предлагает своим покупателям все типы бытовок.
    </p>
  </div>

    <div class = "block">
      <h2 class = "H">Наше преемущество</h2>
      <ul class = "main_utp">
        <li class = "utp">
          <img src="{%static 'img/utp/Icon_1.png '%}" alt="" class = "utp">
        </li >
        <li class = "utp">
          <img src="{%static 'img/utp/Icon_2.png '%}" alt="" class = "utp">
        </li >
        <li class = "utp">
          <img src="{%static 'img/utp/Icon_3.png '%}" alt="" class = "utp">
        </li >
        <li class = "utp">
          <img src="{%static 'img/utp/Icon_4.png '%}" alt="" class = "utp">
        </li>
        <li class = "utp">
          <img src="{%static 'img/utp/Icon_5.png '%}" alt="" class = "utp">
        </li>
        <li class = "utp">
          <img src="{%static 'img/utp/Icon_6.png '%}" alt="" class = "utp">
        </li>
        <li class = "utp">
          <img src="{%static 'img/utp/Icon_7.png '%}" alt="" class = "utp">
        </li>
        <li class = "utp">
          <img src="{%static 'img/utp/Icon_8.png '%}" alt="" class = "utp">
        </li>
      </ul>
    </div>

    <div class = "block">
      <h2 class = "H">Видео:</h2>
      <ul class = "main_video flex">
        <li>
          <img src="{%static 'img/video1.png' %}" alt=""  class="video">
        </li>
        <li>
          <img src="{%static 'img/video2.png' %}" alt="" class="video">
        </li>
      </ul>
    </div>

    <div class = "block">
      <h2 class="H">Наши партнеры</h2>
      <ul class = "main_partner flex">
        <li class="partner">
          <img src="{%static 'img/partneri/cetisity.png' %}" alt="" class="partner">
        </li>
        <li class="partner">
          <img src="{%static 'img/partneri/etalon.png' %}" alt="" class="partner">
        </li>
        <li class="partner">
          <img src="{%static 'img/partneri/fosagro.jpg' %}" alt="" class="partner">
        </li>
        <li class="partner">
          <img src="{%static 'img/partneri/gazprom.png' %}" alt="" class="partner">
        </li>
        <li class="partner">
          <img src="{%static 'img/partneri/nesteOil.png' %}" alt="" class="partner">
        </li>
        <li class="partner">
          <img src="{%static 'img/partneri/rjd.jpg' %}" alt="" class="partner">
        </li>
        <li class="partner">
          <img src="{%static 'img/partneri/stroi-rio.png' %}" alt="" class="partner">
        </li>
        <li class="partner">
          <img src="{%static 'img/partneri/taksa.png' %}" alt="" class="partner">
        </li>
      </ul>
    </div>
</section>




<section class = "right_path flex">
  <div>
    <div class=" sale_1 flex">
      {% for product_img in by_img %}
        <div class ="sale fade" >
          <img src="{{product_img.image}}" class="sale_img" >
          <p class = name_sale>{{product_img.name.name}}</p>
          <p class = old_sale>{{product_img.name.old_price}}</p>
          <p class = price_sale>{{product_img.name.new_price}}</p>
        </div>
      {% endfor %}
    </div>
    <a class="prev" onclick="plusSlide(-1)">&#10094</a>
    <a class="next" onclick="plusSlide(+1)">&#10095</a>
    <div>
      {% for product_img in by_img %}
      <span class = dot></span>
      {% endfor %}
    </div>
  </div>
  <div class = "reviews">
  </div>
</section>
{% endblock %}
