{% extends "base.html" %}

{% block content %}
{% load static %}

<section class = "left_path">
    <ul class = "bitovka_list">
      <li  class = "product_main" id = "101">
        {% for osnova in Modul_str_1%}

          <p class="product_name"> {{osnova.name}}</p>
          <div class="container_img flex">
          {% for image in Modul_str_1_img%}
           <img src=  "{{image.image}}" class = "product_image product_img_1">
          {% endfor %}
          </div>
          <a class="prev_pr_1" onclick="plusSlide_Pr_1(-1)">&#10094</a>
          <a class="next_pr_1" onclick="plusSlide_Pr_1(+1)">&#10095</a>
          <div>
          {% for image in Modul_str_1_img%}
            <span class = dot_pr_1></span>
          {% endfor %}
          </div>
          <div class="calc-section">
            <p>Размеры:</p>
						<span class="product_size">{{osnova.size}}</span>
            <p>
              Материал:
            </p>
            <div class="flex">
                <label >
                  <input  type="radio" name="mat_price_M_1" value="{{osnova.price_dvp}}" checked/>
                  <span>
                    <img src= "{%static 'img/mt1.jpg' %}" class="mat_img mat_img_3">
                    <p class = "mat">Двп</p>
                  </span>
              </label>
              <label >
                  <input  type="radio" name="mat_price_M_1" value="{{osnova.price_pvx}}" />
                  <span>
                    <img src= "{%static 'img/mt3.jpg' %}" class="mat_img mat_img_3" >
                    <p class = "mat">Вагонка</p>
                  </span>
              </label>
            </div>
					</div>
          <div class="product_btn"> Заказать</div>
          <div class="price" id = "price10"></div>
        {% endfor %}
      </li>

      <li  class = "product_main" id = "101">
        {% for osnova in Modul_str_2%}

          <p class="product_name"> {{osnova.name}}</p>
          <div class="container_img flex">
          {% for image in Modul_str_2_img%}
           <img src=  "{{image.image}}" class = "product_image product_img_2">
          {% endfor %}
          </div>
          <a class="prev_pr_1 prev_pr_2" onclick="plusSlide_Pr_2(-1)">&#10094</a>
          <a class="next_pr_1 next_pr_2" onclick="plusSlide_Pr_2(+1)">&#10095</a>
          <div>
          {% for image in Modul_str_2_img%}
            <span class = dot_pr_2></span>
          {% endfor %}
          </div>
          <div class="calc-section">
            <p>Размеры:</p>
						<span class="product_size">{{osnova.size}}</span>
            <p>
              Материал:
            </p>
            <div class="flex">
                <label >
                  <input  type="radio" name="mat_price_M_2" value="{{osnova.price_dvp}}" checked/>
                  <span>
                    <img src= "{%static 'img/mt1.jpg' %}" class="mat_img mat_img_3">
                    <p class = "mat">Двп</p>
                  </span>
              </label>
              <label >
                  <input  type="radio" name="mat_price_M_2" value="{{osnova.price_pvx}}" />
                  <span>
                    <img src= "{%static 'img/mt3.jpg' %}" class="mat_img mat_img_3" >
                    <p class = "mat">Вагонка</p>
                  </span>
              </label>
            </div>
					</div>
          <div class="product_btn"> Заказать</div>
          <div class="price" id = "price20"></div>
        {% endfor %}
      </li>

      <li  class = "product_main" id = "101">
        {% for osnova in Modul_str_3%}

          <p class="product_name"> {{osnova.name}}</p>
          <div class="container_img flex">
          {% for image in Modul_str_3_img%}
           <img src=  "{{image.image}}" class = "product_image product_img_3">
          {% endfor %}
          </div>
          <a class="prev_pr_1 prev_pr_3" onclick="plusSlide_Pr_3(-1)">&#10094</a>
          <a class="next_pr_1 next_pr_3" onclick="plusSlide_Pr_3(+1)">&#10095</a>
          <div>
          {% for image in Modul_str_3_img%}
            <span class = dot_pr_3></span>
          {% endfor %}
          </div>
          <div class="calc-section">
            <p>Размеры:</p>
						<span class="product_size">{{osnova.size}}</span>
            <p>
              Материал:
            </p>
            <div class="flex">
                <label >
                  <input  type="radio" name="mat_price_M_3" value="{{osnova.price_dvp}}" checked/>
                  <span>
                    <img src= "{%static 'img/mt1.jpg' %}" class="mat_img mat_img_3">
                    <p class = "mat">Двп</p>
                  </span>
              </label>
              <label >
                  <input  type="radio" name="mat_price_M_3" value="{{osnova.price_pvx}}" />
                  <span>
                    <img src= "{%static 'img/mt3.jpg' %}" class="mat_img mat_img_3" >
                    <p class = "mat">Вагонка</p>
                  </span>
              </label>
            </div>
					</div>
          <div class="product_btn"> Заказать</div>
          <div class="price" id = "price30"></div>
        {% endfor %}
      </li>

      <li  class = "product_main" id = "101">
        {% for osnova in Modul_str_4%}

          <p class="product_name"> {{osnova.name}}</p>
          <div class="container_img flex">
          {% for image in Modul_str_4_img%}
           <img src=  "{{image.image}}" class = "product_image product_img_4">
          {% endfor %}
          </div>
          <a class="prev_pr_1 prev_pr_4" onclick="plusSlide_Pr_4(-1)">&#10094</a>
          <a class="next_pr_1 next_pr_4" onclick="plusSlide_Pr_4(+1)">&#10095</a>
          <div>
          {% for image in Modul_str_4_img%}
            <span class = dot_pr_4></span>
          {% endfor %}
          </div>
          <div class="calc-section">
            <p>Размеры:</p>
						<span class="product_size">{{osnova.size}}</span>
            <p>
              Материал:
            </p>
            <div class="flex">
                <label >
                  <input  type="radio" name="mat_price_M_4" value="{{osnova.price_dvp}}" checked/>
                  <span>
                    <img src= "{%static 'img/mt1.jpg' %}" class="mat_img mat_img_3">
                    <p class = "mat">Двп</p>
                  </span>
              </label>
              <label >
                  <input  type="radio" name="mat_price_M_4" value="{{osnova.price_pvx}}" />
                  <span>
                    <img src= "{%static 'img/mt3.jpg' %}" class="mat_img mat_img_3" >
                    <p class = "mat">Вагонка</p>
                  </span>
              </label>
            </div>
					</div>
          <div class="product_btn"> Заказать</div>
          <div class="price" id = "price40"></div>
        {% endfor %}
      </li>

      <li  class = "product_main" id = "101">
        {% for osnova in Modul_str_5%}

          <p class="product_name"> {{osnova.name}}</p>
          <div class="container_img flex">
          {% for image in Modul_str_5_img%}
           <img src=  "{{image.image}}" class = "product_image product_img_5">
          {% endfor %}
          </div>
          <a class="prev_pr_1 prev_pr_5" onclick="plusSlide_Pr_5(-1)">&#10094</a>
          <a class="next_pr_1 next_pr_5" onclick="plusSlide_Pr_5(+1)">&#10095</a>
          <div>
          {% for image in Modul_str_5_img%}
            <span class = dot_pr_5></span>
          {% endfor %}
          </div>
          <div class="calc-section">
            <p>Размеры:</p>
						<span class="product_size">{{osnova.size}}</span>
            <p>
              Материал:
            </p>
            <div class="flex">
                <label >
                  <input  type="radio" name="mat_price_M_5" value="{{osnova.price_dvp}}" checked/>
                  <span>
                    <img src= "{%static 'img/mt1.jpg' %}" class="mat_img mat_img_3">
                    <p class = "mat">Двп</p>
                  </span>
              </label>
              <label >
                  <input  type="radio" name="mat_price_M_5" value="{{osnova.price_pvx}}" />
                  <span>
                    <img src= "{%static 'img/mt3.jpg' %}" class="mat_img mat_img_3" >
                    <p class = "mat">Вагонка</p>
                  </span>
              </label>
            </div>
					</div>
          <div class="product_btn"> Заказать</div>
          <div class="price" id = "price50"></div>
        {% endfor %}
      </li>
    </ul>
    <div class = "zakaz">
      <p>Не нашли то что хотели свяжитесь с нашей Поддержкой и опишите ваш заказ </p>

      <button class = "zakaz_btn btn"> Поддержка </button>
    </div>

</section>

<section class = "right_path flex">
    <div>
      <div class=" sale_1 flex">
        {% for product_img in by_img %}
          <div class ="sale fade" >
            <img src="{{product_img.image}}" class="sale_img fade" >
            <p class = name_sale>{{product_img.name.name}}</p>
            <p class = old_sale>{{product_img.name.old_price}}</p>
            <p class = price_sale>{{product_img.name.new_price}}</p>
          </div>
        {% endfor %}
      </div>
      <a class="prev" onclick="plusSlide(-1)">&#10094</a>
      <a class="next" onclick="plusSlide(+1)">&#10095</a>
      <div>
        {% for product_img in by_img %}
        <span class = dot></span>
        {% endfor %}
      </div>
    </div>
    <div class = "reviews">
    </div>
  </section>
  <script src="{% static 'js/price_modul_orig.js' %}"></script>
{% endblock %}
