<style>
    02
    form[name="form"]{float:left;border:1px solid #ccc;padding:10px;margin-right:5px;}
    03
    input[name="price"]{border:0;}
    04
    </style>
    05
     
    06
    <form name="form">
    07
        <input type="radio" name="check" value="267"><label>200</label>
    08
        <input type="radio" name="check" value="879"><label>500</label>
    09
        <input type="radio" name="check" value="1245"><label>1000</label><br>
    10
        <label>Цена: </label><input type="text" name="price" value="" readonly>
    11
    </form>
    12
     
    13
    <form name="form">
    14
        <input type="radio" name="check" value="267"><label>200</label>
    15
        <input type="radio" name="check" value="879"><label>500</label>
    16
        <input type="radio" name="check" value="1245"><label>1000</label><br>
    17
        <label>Цена: </label><input type="text" name="price" value="" readonly>
    18
    </form>
    19
     
    20
    <form name="form">
    21
        <input type="radio" name="check" value="267"><label>200</label>
    22
        <input type="radio" name="check" value="879"><label>500</label>
    23
        <input type="radio" name="check" value="1245"><label>1000</label><br>
    24
        <label>Цена: </label><input type="text" name="price" value="" readonly>
    25
    </form>
    26
     
    27
    <script>
    28
    for (var i = 0; i < document.form.length; i++) {
    29
        document.form[i].check[0].checked = true;
    30
        document.form[i].price.value = document.form[i].check[0].value;
    31
        document.form[i].onclick = function(e) {
    32
            var target = e && e.target || event.srcElement;
    33
            if (target.name != 'check') return;
    34
            this.price.value = target.value;
    35
        }
    36
    }
    37
    </script>
    