.product_main_1{
    position: relative;
    display: inline-block;
    width: 1100px;
    background-color: #fff;
    border-radius: 20px;
}
.prev_pr_1_ob{
    cursor: pointer;
    position: absolute;
    top: 300px
}
.next_pr_1_ob{
    cursor: pointer;
    position: absolute;
    top: 300px;
    left: 570px;
}
.info{
    display: inline-block;
    width: 500px;
}

text{ display: inline-block;
}
.name_product{
    text-align: center;
}

.foto_producta{
    display: inline-block;
    border: 1px solid #000;
    margin-left: 30px
}

.product_image_one{
    width: 550px;
}
.zakaz_price{
    width: 500px;

}
.price_obiect{
    margin-left: 10px;
}
.dop_complect{
    display: inline;
    border: 1px solid #000;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 10px;
    margin-left: 20px;
    margin-bottom: 30px;
}
.menu_complect{
    border: 1px solid #000;
    margin: 10px;
    width: 700px;
    border-radius: 10px;
}

.dother_comlect{
    border-bottom: 1px solid #000;
}
.dop_name{
    padding: 5px;
    display: inline-block;
    width: 500px;
}

.dop_input{
    padding: 10;
    display: inline-block;
    margin: 0;
    margin-left: 20px;
    width: 15px;
    height: 15px;
}

.dop_input_price{
    appearance: none;
}