html {
  /* background-color: #fff; */
  background-image: url("/static/img/fon.png");

}


*,
*::before,
*::after{
  box-sizing: inherit;
}

@font-face {
  font-family: "Muller";
  src: local("MullerRegular"),
    url("../fonts/MullerRegular.woff2") format("woff2"),
    url("../fonts/MullerRegular.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;

  src: local("MullerBold"),
    url("../fonts/MullerBold.woff2") format("woff2"),
    url("../fonts/MullerBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;

  src: local("MullerLight"),
    url("../fonts/MullerLight.woff2") format("woff2"),
    url("../fonts/MullerLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;

  src: local("MullerMedium"),
    url("../fonts/MullerMedium.woff2") format("woff2"),
    url("../fonts/MullerMedium.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

p{
  text-indent: 20px;
}

a{
  color: inherit;
  text-decoration: none;
}

img{
  max-width: 100%;
}

body{
  min-width: 1200px;
  font-family: Veranda;
}

p{
  font-family: Georgia
}


.flex{
  display: flex;
}

.btn{
  padding: 0;
  border:none;
  background-color: transparent;
  cursor: pointer;
}

.list-reset{
  margin: 0;
  padding: 0;
  list-style: none;
}

.conteiner{
  width: 1200px;
  padding: 0;
  margin: 0 auto;
}
.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;

  }


.next {
    right: 9%;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);

}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}



/* header */

.header_conteiner{
  z-index: 1;
  top: 0px;
  position: sticky;
  max-height: 100px;
  background-color: #fff;
  float: 0;
  box-shadow: -1px 2px .4em #fff000, 1px 0 .4em #0000FF;;
}


.header_conteiner_1{
  position: relative;
  left: 700px;
  max-height: 50px;
  bottom:  120px;
}
.header-logo{
  position: relative;
  height: 100px;
  width: 300px;
  margin: 0;
  left: 80px ;
}

.header-tel{
  margin: 0;
  margin-right: 30px;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
}
.header-tel:last-child{
  margin-right: auto;
}

.feedcall{
  display: inline-block;
  position: relative;
  top: 10px;
}
.call{
  border-bottom: 1px solid black;
}

.header_conteiner_2{
  position: relative;
  left: 400px;
  bottom: 125px;
}


.parant_product_active_1{
  margin-top: 15px;
  margin-right: 2px;
  position: relative;
}
.parant_product_active_1 .parant_product_btn {
  padding: 6px 30px;
  box-shadow: 1px 2px 4px black;
  background-color: inherit;
  border: 0;
  font-size: 16px;
  border-radius: 20px;
}
.parant_product_active_2{
  margin-top: 15px;
  box-shadow: 1px 2px 4px black;
  background-color: inherit;
  border: 0;
  border-radius: 20px;
}


.parant_product_active{
  text-align: center;
  float: left;
  font-size: 16px;
  padding: 6px 30px 5px;
  border-radius: 20px;
}

.parant_product_active:hover, .parant_product_btn:hover {
  background-color:#ddd;
}

.dother_product{
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display:block;
  text-align: left;
  border-bottom: solid 1px #696969;
}
.dother_product:hover {
  text-decoration: underline;
}
.dother_product_1:hover {
  background-color: #ddd;
}

.main_menu{
  list-style: none;
  float: left;
}

.dother_menu{
  position: absolute;
  display: none;
  background-color: #fff;
  min-width: 100%;
  box-shadow: 15px 10px 15px rgba(0,0,0,1);
  z-index: 1;
  list-style: none;
  float: left;
  padding-left: 0;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.parant_product_active_1:hover .parant_product_btn{
  border-bottom:solid 1px #696969;
  border-radius: 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.parant_product_active_1:hover .dother_menu{
  display:block;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.last{
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.left_path{
  display: inline-block;
  min-height: 300px;
  margin: 0;
  margin-top: -120px;
}
.right_path{
  display: inline-block;
  width: 300px;
  margin: 0;
  vertical-align:top;
  border-radius: 20px;
  border: solid 2px #000080;
  background-color: aquamarine;
  margin-bottom: 300px;
  margin-top: -90px;
  position:fixed

}

.zastavka{
  width: 100%;
  height: 300px;
  background-color: #fff;
}
  /* dasdsad */

.menu_utp{
    list-style: none;
  }

.utp{
    width: 200px;
    height: 200px;
    margin-bottom: 50px;
    display: inline-block;
  }
.h2{
  text-align: center;
  margin-left: 100px;
}

/* raith path */
.sale_1{
  max-width: 300px;
  margin: 0;
  position: relative;
}
.sale{
  position: relative;
  height: 320px;
  min-width: 300px;
  border-bottom: solid 2px #000080;
}
.sale_img{
  margin-top: 10px;
  border-radius: 10px;
  max-height: 200px;
  right: 6%;
  position: absolute;
}

.name_sale{
  text-align: center;
  font-size: 20px;
  margin: 0;
  margin-top: 210px;
  margin-bottom: 5px;
}

.old_sale{
  display: inline;
  text-decoration:line-through;
  font-weight: 200;
  font-size: 20px;
  color: #000;
  margin-left: 40px;
  margin-right: 5px;
}

.price_sale{
  display: inline;
  font-weight: 400;
  font-size: 35px;
  color: #B22222;
}

.reviews{
  height: 100px;
  margin-top: 100px;
}

/* footer */

.footer{
  background-color: #1E1AC6;
  max-height: 300px;
  margin: 0;
  margin-top: 40px;

}
.footer_contacts{
  list-style: none;
}
.footer_left{
  display: inline-block;
  margin: 0;
  position: relative;
  left: 200px;
}
.footer_logo{
  margin-left: 00px ;
  margin-top: 40px;
  display: inline-block;
  max-height: 220px;
  max-width: 220px;
  border-radius: 100%;
  left: 1200px;

}
.footer_right{
  display: inline-block;
  position: relative;
  left: 800px;
}
.footer_adress{
  position: relative;
  bottom: 200px;
  left: 400px;
  max-width: 200px;
}

