

.product_main{
  margin: 0;
  width: 380px;
  height: 520px;
  border: solid 1px #000;
  display: inline-block;
  position:relative;
  margin-right: 20px;
  margin-left: 10px;
  margin-top: 20px;
  border-radius: 20px;
  background-color: #fff;

}



.bitovka_list{
  width: 890px;
}
.product_image{
  max-width: 300px;
  margin: 0;
  margin-left: 40px;
  position: relative;
}
.container_img{
  max-width: 300px;
  margin: 0;
  position: relative;
  height: 200px;
}


.product_name{
  text-align: center;
}


.product_size_main{
  margin-left: 20px;
  margin-bottom: 5px;
  display:inline-block;

}
.product_size_main p {
  margin-right: 10px;
}

.product_size{
  cursor: pointer;
  border: solid 1px #000;
  border-radius: 10px;
  padding: 3px 5px;
  margin-bottom: 50px;
  display: inline;

}
.product_size:hover{
  background-color: #DCDCDC;
}

.product_mat_main{
  margin-left: 20px;
  margin-bottom: 30px;
  display:inline-block;
  margin-right: 70px;
}


.name_mat{
  display: inline;
  margin-bottom: 20px;
  margin-bottom: 20px;

}
.mat_img{
  width: 50px;
  height: 50px;
}
.mat{
  margin: 10px 20px;
  margin-right: 20px;
  margin-left: 20px;
  text-align: center;

}

.block p {
  margin-left: 10px;
}

.price{
  display: inline-block;
  margin-left: 100px;
  margin-bottom: 10px;
  color: red;
  top:250px;
  right: 60px;
  border-radius: 10px;
  border:solid 1px #000;
  padding: 10px;
  width: 100px;
  text-align: center;
}

.product_btn{
  display: inline-block;
  border: none;
  outline: none;
  list-style: none;
  border: solid 1px #000;
  background-color: blue;
  color: #fff;
  padding: 10px 15px;
  border-radius: 10px;
  margin-left: 20px;
  text-align: center;
}
.product_btn:hover{
  background-color: #00BFFF;
}


.zakaz{
  margin-top: 20px;
  height: 120px;
  border: solid 1px #000;
  border-radius: 20px;
  width: 810px;
  background-color: #fff
}
.zakaz p {
  text-align: center;
  margin-bottom: 30px;
}

.zakaz_btn{
  border: none;
  outline: none;
  list-style: none;
  border: solid 1px #000;
  background-color: blue;
  color: #fff;
  padding: 10px 15px;
  border-radius: 10px;
  margin-left: 370px;
}
.zakaz_btn:hover{
  background-color: #00BFFF;
}

.prev_pr_1, .next_pr_1 {cursor: pointer;
  position:absolute;
  top: 30%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #000;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;}

.next_pr_1{
  right: 0;
  border-radius: 3px 0 0 3px;}


.calc-section{
  margin-left: 10px;
}

.mat_int:checked + .mat_img + .mat_img_3{
  background-color: bisque;
  border: 1px solid blue;
  border-radius: 5px;
}
/* .int{
  appearance: none;
} */
.product_int:checked + .product_size{
background-color: #DCDCDC;
appearance: none;
}
.mat_img_3 {
  min-height: 50px;
  min-width: 50px;
}

.product_int{
  appearance: none;
}