.block{
  background-color: #fff;
  width: 850px;
  min-width: 300px;
  padding: 10px;
}


.main_utp, .main_video{
  list-style: none;
}
.utp{
  display: inline-block;
  width: 170px;
  height: 170px;
  margin: 10;
}

.H{
  text-align: center;
}

.video{
  margin-right: 20px;
  width: 400px;
  display: inline-block;
}

.rightimg{
  float: left;
  margin: 7px 7px 7px 0; 
  width: 400px;

}

.lefttimg{
  float: right;
  margin: 7px 7px 7px 0; 
  width: 400px;

}

.text{
  margin-bottom: 20px;
}

.text_news{
  margin-bottom: 90px;
}
.text_name{
  text-align: center;
}

/* Bani */
.el_tabl{
  display: inline-block;
  width: 330px;
  min-height: 70px;
  text-align: center;
  vertical-align: middle;
  margin: 0;
  padding: 20px;
}
.el_tabl_2{
  width: 100px;
  border-left: solid 1px #000;
}
.el_name{
  border-top: 0;

}

.foto_bani{
  width: 380px;
  margin-left: 10px;
}
li{
  list-style-type: none;
}
h2{
  text-align: center;
}
h3{
  text-align: center;
}

p{
  text-indent: 20px; /* Отступ первой строки в пикселах */
}


/* main stranitsa */

.main_partner{
  margin-left: 30px;
  width: 700px;
  position: relative;
}
.partner{
  width: 400px;
  margin:10px;
}

/* o compani */

.sertificati{
  width: 300px;
  margin: 10px;
}